<ng-container *ngIf="modalReady" >
  <div id="saveInfoModal" >
    <div class="modal-body">
      <div *ngIf="prodigeReponse" >
        <span *ngIf="prodigeReponse.check" > Enregistrement réussi </span>
        <span *ngIf="!prodigeReponse.check" > {{prodigeReponse.msg}}</span>
      </div>
      <span *ngIf="!prodigeReponse"> Erreur pendant l'enregistrement</span>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modalRef.close()">valider</button>
    </div>
  </div>
</ng-container>