<footer class="">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 footer-left-area">
         <p *ngIf="htmlContent" [innerHtml]="htmlContent"></p>
      </div>
    </div><!-- / row -->
  </div><!-- / container -->
</footer>
