<header  class="" >
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 ">
        <p *ngIf="htmlContent" [innerHtml]="htmlContent"></p>
      </div>
    </div>
  </div>
</header> 