<div *ngIf="userRight &&( userRight.EDITION || userRight.EDITION_MODIFICATION)">
<em>* : champ obligatoire</em>
<h4 class="modal-title" id="modal-basic-title">Identifiant: {{feature && feature.properties.gid}}</h4>

<form (ngSubmit)="saveData(saveInfoModal)" #featureForm="ngForm" class="pt-5 pb-5">
  <div *ngIf="feature" >
    <div class="form-group" *ngFor="let structure of structures$ | async" >
      <div *ngIf="structure.column_name !== 'gid'">
        <ng-container [ngSwitch]="structure.data_type">
          <ng-container *ngSwitchCase="'character varying'">
            <div class="form-group row">
              <label [for]="structure.column_name" class="col-sm-3 col-form-label">{{structure.column_name}} {{ structure.is_nullable ? '' : "*" }}</label>
              <div class="col-sm-5">
              <input type="text" class="form-control" [(ngModel)]="feature.properties[structure.column_name]" [name]="structure.column_name"
                      [maxlength]="structure.character_maximum_length" [required]="!structure.is_nullable" #domainName="ngModel"/>
              </div>
              <div *ngIf="domainName && domainName.invalid && (domainName.dirty || domainName.touched)" class="alert alert-danger">
                <div *ngIf="domainName.errors.required">
                  champ obligatoire
                </div>
              </div>
            </div>
          </ng-container>
          <ng-container *ngSwitchCase="'text'">
            <div  *ngIf="!structure.domain_name" class="form-group row">
              <label [for]="structure.column_name" class="col-sm-3 col-form-label">{{structure.column_name}} {{ structure.is_nullable ? '' : "*" }}</label>
              <div class="col-sm-5">
                <textarea class="form-control" class="col-9 px-0 form-control" cols="20" rows="3" #domainName="ngModel"
                          [(ngModel)]="feature.properties[structure.column_name]" [required]="!structure.is_nullable"
                          [name]="structure.column_name">
                </textarea>
                <div *ngIf="domainName && domainName.invalid && (domainName.dirty || domainName.touched)" class="alert alert-danger">
                  <div *ngIf="domainName.errors.required">
                    champ obligatoire
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row" *ngIf="structure.domain_name && !domainNameFile[structure.domain_name]">
              <label [for]="structure.column_name" class="col-sm-3 col-form-label">{{structure.column_name}} {{ structure.is_nullable ? '' : "*" }}</label>
              <div class="col-sm-5">
                <input type="text" class="form-control" #domainName="ngModel" [(ngModel)]="feature.properties[structure.column_name]" [name]="structure.column_name"
                    pattern="{{regex[structure.domain_name]}}"
                    [required]="!structure.is_nullable"
                />
                <div *ngIf="domainName && domainName.invalid && (domainName.dirty || domainName.touched)" class="alert alert-danger">
                  <div *ngIf="domainName.errors.required">
                    champ obligatoire
                  </div>
                  <div *ngIf="domainName.errors.pattern">
                    champ mal formaté
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="structure.domain_name && domainNameFile[structure.domain_name]"  class="form-group row">
              <label [for]="structure.column_name" class="col-sm-3 col-form-label">{{structure.column_name}} {{ structure.is_nullable ? '' : "*" }}</label>
              <label class="custom-file-upload btn btn-modal px-3 py-2 mb-0 mr-2">
                <input (change)="setImage($event, feature, structure.column_name)"   [name]="structure.column_name"  type="file" accept=".jpeg, .jpg, .png" 
                  [required]="!structure.is_nullable"/>
                Charger un fichier...
              </label>
              <span>{{ feature.properties[ structure.column_name ] }}</span>
            </div>
          </ng-container>
          <ng-container *ngSwitchCase="'integer'">
            <div class="form-group row">
              <label [for]="structure.column_name" class="col-sm-3 col-form-label">{{structure.column_name}} {{ structure.is_nullable ? '' : "*" }}</label>
              <div class="col-sm-5">
                <input type="number" class="form-control" [(ngModel)]="feature.properties[ structure.column_name ]"  #domainName="ngModel"
                  [maxlength]="structure.character_maximum_length"
                  [required]="!structure.is_nullable"
                  [name]="structure.column_name"/>
                    <div *ngIf="domainName && domainName.invalid && (domainName.dirty || domainName.touched)" class="alert alert-danger">
                <div *ngIf="domainName.errors.required">
                  champ obligatoire
                </div>
              </div>
              </div>
          
            </div>
          </ng-container>
          <ng-container *ngSwitchCase="'boolean'">
            <td  class="fiche-modify">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" [name]="structure.column_name"  #domainName="ngModel"
                  [id]="structure.column_name + '_true'" [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="feature.properties[ structure.column_name ]" value="true"
                  [required]="!structure.is_nullable">
                <label class="form-check-label" [for]="structure.column_name + '_true'">Oui</label>
                <div *ngIf="domainName && domainName.invalid && (domainName.dirty || domainName.touched)" class="alert alert-danger">
                <div *ngIf="domainName.errors.required">
                  champ obligatoire
                </div>
              </div>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" [name]="structure.column_name"  #domainName="ngModel"
                  [id]="structure.column_name + '_false'" [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="feature.properties[ structure.column_name ]" value="false">
                <label class="form-check-label" [for]="structure.column_name + '_false'">Non</label>
                <div *ngIf="domainName && domainName.invalid && (domainName.dirty || domainName.touched)" class="alert alert-danger">
                <div *ngIf="domainName.errors.required">
                  champ obligatoire
                </div>
              </div>
              </div>
              <div *ngIf="structure.is_nullable" class="form-check form-check-inline">
                <input class="form-check-input" type="radio" [name]="structure.column_name"  #domainName="ngModel"
                  [id]="structure.column_name + '_null'" [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="feature.properties[ structure.column_name ]" value="null">
                <label class="form-check-label" [for]="structure.column_name + '_null'">Non défini</label>
                <div *ngIf="domainName && domainName.invalid && (domainName.dirty || domainName.touched)" class="alert alert-danger">
                <div *ngIf="domainName.errors.required">
                  champ obligatoire
                </div>
              </div>
              </div>
            </td>
          </ng-container>
          <ng-container *ngSwitchCase="'date'">
            <div class="form-group row">
              <label [for]="structure.column_name" class="col-sm-3 col-form-label">{{structure.column_name}} {{ structure.is_nullable ? '' : "*" }}</label>
              <div class="col-sm-5">
              <input type="date" class="form-control" [(ngModel)]="feature.properties[ structure.column_name ]" 
                [maxlength]="structure.character_maximum_length"
                [required]="!structure.is_nullable"
                [name]="structure.column_name"/>
              </div>
            </div>
          </ng-container>
          <ng-container *ngSwitchCase="'USER-DEFINED'">
            <div *ngIf="structure.udt_name  && enumerations[structure.udt_name ]"  class="form-group row">
              <label [for]="structure.column_name" class="col-sm-3 col-form-label">{{structure.column_name}} {{ structure.is_nullable ? '' : "*" }}</label>
              <div class="col-sm-5">
                <select class="form-control " [(ngModel)]="feature.properties[ structure.column_name ]"  #domainName="ngModel"
                  [required]="!structure.is_nullable" [name]="structure.column_name">
                  <option hidden selected disabled>Sélectionnez un ou plusieurs paramètres</option>
                  <option 
                    *ngFor="let item of enumerations[structure.udt_name ]"  [ngValue]="item">
                    <span>{{ item }}</span>
                  </option>
                </select>
                <div *ngIf="domainName && domainName.invalid && (domainName.dirty || domainName.touched)" class="alert alert-danger">
                  <div *ngIf="domainName.errors.required">
                    champ obligatoire
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-container *ngSwitchCase="'ARRAY'">
            <div *ngIf="structure.udt_name && enumerations[structure.udt_name ]"  class="form-group row">
              <label [for]="structure.column_name" class="col-sm-3 col-form-label">{{structure.column_name}} {{ structure.is_nullable ? '' : "*" }}</label>
              <div class="col-sm-8">
                <ng-multiselect-dropdown
                  [placeholder]="'Sélectionnez un ou plusieurs paramètres'"
                  class=""
                  [data]="enumerations[structure.udt_name ]"
                  [(ngModel)]="feature.properties[ structure.column_name ]"
                  [settings]="dropdownSettings"
                  [required]="!structure.is_nullable"
                  [name]="structure.column_name">
                </ng-multiselect-dropdown>
              </div>
            </div>
          </ng-container>
          <ng-container *ngSwitchDefault> <!-- 'double precision', 'numeric', 'smallint', 'real', 'bigint' -->
            <div class="form-group row">
              <label [for]="structure.column_name" class="col-sm-3 col-form-label">{{structure.column_name}} {{ structure.is_nullable ? '' : "*" }}</label>
              <div class="col-sm-5">
                <input type="number" class="form-control" [(ngModel)]="feature.properties[ structure.column_name ]"
                  [maxlength]="structure.character_maximum_length"
                  [required]="!structure.is_nullable"
                  [name]="structure.column_name"/>
              </div>
              <div *ngIf="typeArray && typeArray.invalid && (typeArray.dirty || typeArray.touched)" class="alert alert-danger">
                  <div *ngIf="typeArray.errors.required">
                    champ obligatoire
                  </div>
                </div>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>
    <a routerLink="/tableView/{{uuid}}"  class="btn btn-outline-dark" routerLinkActive="active"> Annuler </a>
    <button  [disabled]="!featureForm.form.valid" type="button" class="btn btn-primary ml-1" (click)="saveData()">Enregistrer</button>
  </div>
</form >
</div>
<app-save-info-modal></app-save-info-modal>