

<!-- Template pagination -->
<ng-template #paginationTpl>
<div class="d-flex justify-content-between p-2">
  <ngb-pagination [collectionSize]="total$ | async" [(page)]="tableViewData.page" [maxSize]="10" [pageSize]="tableViewData.pageSize"  [rotate]="true" [boundaryLinks]="true" >
  </ngb-pagination>

  <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="tableViewData.pageSize" >
    <option *ngFor="let choiceValue of pageSizeChoice" [ngValue]="choiceValue">{{choiceValue}}</option>
  </select>
</div>
</ng-template>

<!-- Recherche-->
<div class="form-group form-inline" >
    Recherche : <input class="form-control ml-2" type="text" name="searchTerm" [(ngModel)]="tableViewData.searchTerm"/>
    <a routerLink="edit" *ngIf="userRight && (userRight.EDITION || userRight.EDITION_AJOUT )" class="btn btn-primary  ml-2" routerLinkActive="active"><i class="fas fa-edit"></i> Ajouter</a>
    <span class="ml-3" *ngIf="tableViewData.getLoading$() | async">Loading...</span>
</div>

<!-- Pagination -->
<ng-container *ngTemplateOutlet="paginationTpl"></ng-container>

<!-- Tableau -->
<table class="table table-striped"  >
  <thead>
  <tr>
    <th *ngIf="userRight && (userRight.EDITION || userRight.EDITION_MODIFICATION)">Actions</th>
    <th scope="col" *ngFor="let structure of structures$ | async; index as k" class="appSortable" [appSortable]="structure.column_name" (sort)="onSort($event)">{{structure.column_name}}</th>
    
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let feature of features$ | async ; index as i">
     <td class="table-button-action" *ngIf="userRight && (userRight.EDITION || userRight.EDITION_MODIFICATION)">
      <a routerLink="edit/{{feature.properties.gid}}"  class="btn btn-primary mr-2 mb-2" routerLinkActive="active"><i class="fas fa-edit"></i> Editer</a>
      <button type="button" class="btn btn-danger mb-2" ng-if="userRight && userRight.EDITION" (click)="deleteData(feature)"><i class="fas fa-times"></i> Suprimer</button>
    </td>
    <td *ngFor="let structure of structures$ | async; index as j">
      {{feature.properties[structure.column_name]}}
    </td>
   
  </tr>
  </tbody> 
</table>
<div  class="m-1" role="status" *ngIf="isLoading">
  <strong class="m-1" >Loading...</strong>
  <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
</div>
<div  class="m-1" role="status" *ngIf="loadError">
  <span class="m-1" >Erreur pendant le chargement des données</span>
</div>
<!-- Pagination -->
<ng-container *ngTemplateOutlet="paginationTpl"></ng-container>

